@model StatTracker.Models.GameDetail

@{
    ViewData["Title"] = "Manage Player Stats | ";
}

<h1>Create Player Stat</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label">Player Name</label>
                <select asp-for="PlayerId" class="form-control" asp-items="ViewBag.PlayerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameId" class="control-label">Date Of Game</label>
                <select asp-for="GameId" class="form-control" asp-items="ViewBag.GameId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rebounds" class="control-label"></label>
                <input asp-for="Rebounds" class="form-control" />
                <span asp-validation-for="Rebounds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assists" class="control-label"></label>
                <input asp-for="Assists" class="form-control" />
                <span asp-validation-for="Assists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
