@model StatTracker.Models.Game

@{
    ViewData["Title"] = "Manage Games | ";
}

<h1>Game Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Game Location
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameLocation)
        </dd>
        <dt class = "col-sm-2">
            Game Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDate)
        </dd>
        <dt class = "col-sm-2">
            Game Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameType)
        </dd>
    </dl>
</div>
<div>
    <a class="text-dark" asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
    <a class="text-dark" asp-action="Index">Back to List</a>
</div>
