@model StatTracker.Models.Player

@{
    ViewData["Title"] = "Manage Players | ";
}

<h1>Delete Player</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            Player Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt class="col-sm-2">
            Player Height (cm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerHeightCm)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PlayerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="text-dark" asp-action="Index">Back to List</a>
    </form>
</div>
